@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&family=Outfit:wght@100;300;400;500;600&display=swap');

:root {
  --color-white: #fff;
  --color-light: #f4f4f4;
  --color-dark: #525252;

  --transition: all 300ms ease; 
}

.App {
  background-color: rgb(49, 132, 56);
  height: 100vh;
  width: 98vw;
}

.logoName {
  font-style: italic;
  font-size: 2rem;
  font-weight: 600;
  padding-left: 5px;
  color: white;
}

.logoImage {
  max-width: 100%;
  height: auto;
}

.ulist {
  font-size: 0.8rem;
  list-style-type: none;
  display: flex;
}

.list {
  font-family: Outfit;
  padding: 1rem;
  color: white;
}

.list:hover {
  color: black;
  font-size: large;
  transition: all 300ms ease; 
  cursor: pointer;
}

.navBar {
  display: flex;
  align-items: center;
}

.navLeft {
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

.navCenter {
  margin-left: 5rem;
  margin-right: auto;
}

.navRight {
  margin-right: 10rem;
}

.menuBtn:hover {
  background-color: black;
}

.lcm {
  font-family: Montserrat;
  word-spacing: 0.5rem;
  letter-spacing: 0.2rem;
}

.intro {
  padding-left: 5.5rem;
  color: white;
}

.lcmInfo {
  font-family: Montserrat;
  font-size: 0.9rem;
  line-height: 1.9;
  text-align: left;
}

.simpContainer {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.simpRight p {
  margin: 0;
  font-family: Outfit;
  font-weight: 300;
  padding-left: 5rem;
}

.heading {
  font-size: 25px;
}

.headings {
  font-size: 20px;
}

.detail {
  padding-top: 3rem;
  font-size: 18px;
}

.simpLeft {
  padding-left: 10rem;
}

.underline {
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  border-top: solid 3px  #318438;
  left: 0;
  bottom: -15px;
  border-radius: 50%;
  height: 8px;
}

.chart {
  max-width: 100%;
  height: auto;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.service {
  flex: 1 0 45%;
  min-width: 280px;
  max-width: 500px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  line-height: 1.5;
  box-shadow: 11px 17px 16px 2px rgba(0, 0, 0, 0.25);
}

.service:hover {
  background-color: #318438;
  color: white;
  transition: all 300ms ease; 
}

.service p {
  margin: 10px;
}

.serviceHeading {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.serviceDetail {
  font-family: Outfit;
}

.partnersHeading {
  font-family: Outfit;
  font-size: large;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.partnersLogo{
  max-width: 100%;
  height: auto;
}

.dCare {
  font-size: 35px;
  font-style: italic;
  font-family: Outfit;
}

.city {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: Outfit;
}

.serviceCenterDetail {
  text-align: left;
}

.serviceCenterDetail p {
  font-family: Outfit;
}

.getDirection {
  color: red;
  display: flex;
  align-items: center;
}

.getDirection:hover {
  cursor: pointer;
}

.directionImg {
  margin-left: 0.5rem;
}

.contact {
  padding: 7rem;
}

.info {
  font-family: Outfit;
  text-align: center;
  font-size: 20px;
}

.info p {
  margin: 0;
}

.details {
  display: flex;
  padding: 3rem;
}

.contactImg {
  border-radius: 25px 0 0 25px;
}

.contact .inputs {
  padding: 2rem 1rem 2rem 1rem;
}

.footerContainer {
  background-color: #D80228;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  padding: 5rem;
}

.footerContainer p {
  font-size: 15px;
}

.people li {
  font-size: 15px;
  font-family: Outfit;
}

.footerContainer ul {
  list-style: none;
}

.footerContainer li:hover {
  cursor: pointer;
  color: black;
}

.effect:hover {
  cursor: pointer;
}

.MuiInputBase-input::placeholder {
  font-family: Outfit;
}

.logoNameBlack {
  font-style: italic;
  font-size: 2rem;
  font-weight: 600;
  padding-left: 5px;
}

.logo {
  display: flex;
  align-items: center;
}

.about {
  padding: 0rem;
}

.people ul {
  display: flex;
  flex-direction: column;
  height: 20rem;
  gap: 24px;
}

.serviceList ul {
  display: flex;
  flex-direction: column;
  height: 20rem;
  gap: 24px;
}

.serviceList li {
  font-size: 15px;
  font-family: Outfit;
}

.Enterprise ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 20rem;
}

.Enterprise li {
  font-size: 15px;
  font-family: Outfit;
}

.education ul {
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-between;
}

.education li {
  font-size: 15px;
  font-family: Outfit;
}

.vectorWorks ul {
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-between;
}

.vectorWorks li {
  font-size: 15px;
  font-family: Outfit;
}

.copyright {
  font-family: Outfit;
  padding: 2rem;
}

.socials {
  display: flex;
  gap: 1.6rem;
}

.socials a {
  font-size: 1.1rem;
  background: var(--color-light);
  color: var(--color-dark);
  padding: 0.3rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.socials a:hover {
  background: #D80228;
  color: var(--color-white);
}

.footerBase {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .navLeft {
    padding-left: 2rem;
  }
  
  .logoImage {
    max-width: 50%;
    height: auto;
  }

  .navCenter {
    padding-left: 2rem;
  }
  
  .navRight {
    margin-left: 20%;
  }

  .ulist {
    font-size: 0.8rem;
    list-style-type: none;
    display: flex;
  }

  .imageContainer {
    flex-direction: column;
  }
}

@media (max-width: 480px) {

  .logoImage {
    max-width: 30%;
    height: auto;
  }

  .navLeft {
    padding-left: 1rem;
  }
  
  .navCenter {
    padding-left: 1rem;
  }
  
  .navRight {
    margin-left: 7%;
  }
  
  .logoName {
    font-size: 1.5rem;
  }
  
  .ulist {
    font-size: 0.7rem;
  }
  
  .list {
    padding: 0.5rem;
  }
}